@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --white: #FFFFFF;
  --blue-navy: #0136A0;
  --shade-cyan: #0136A0;
  --board-black: #0A0700;
  --foreground: #0A0700;
}

@theme {
  --color-blue-navy: #0136A0;
  --color-board-black: #0A0700;
  --color-poppy-red: #FE463F;
  --color-poppy-pink: #E17C8A;
  --color-poppy-orange: #E6A48E;
  --color-poppy-gold: #DABC5C;
  --color-poppy-purple: #704D8B;
  --color-marigold-amber: #D98723;
  --color-shade-cyan: #4F8A9A;
  --color-olive-green: #918F17;
  --color-emerald-green: #01E061;

  --animate-marquee: marquee 40s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(calc(-50% - 0.75rem));
    }
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-50% - 1rem));
  }
}

@keyframes marquee-horizontal {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 1rem));
  }

  /* 1rem = la moitié de gap-8 */
}

@utility animate-marquee-horizontal {
  animation: marquee-horizontal 20s linear infinite;
}

@utility animate-marquee-vertical {
  animation: marquee-vertical 40s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-dm-serif: var(--font-dm-serif);
}

/**@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0700;
    --foreground: #FFFFFF;
  }
}**/

body {
  background: var(--background);
  color: var(--foreground);
}

.maxw {
  max-width: 90%;
}

.title {
  font-family: var(--font-dm-serif);
  font-weight: 500;
  font-size: 3.1vw;
  line-height: 3.8vw;
  letter-spacing: -0.02em;
}

.title2 {
  font-family: var(--font-dm-serif);
  font-weight: 500;
  font-size: 2vw;
  line-height: 2.4vw;
  letter-spacing: -2%;
}

.titleInter {
  font-family: var(--font-inter);
  font-weight: 300;
  font-size: 2vw;
  line-height: 2.4vw;
  letter-spacing: -2%;
}

.subtitle {
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 1.2vw;
  line-height: 1.6vw;
  letter-spacing: -0.02em;
}

.secondaryTitle {
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.6vw;
}

.simple {
  font-size: 1.1vw;
  line-height: 1.4vw;
}

.simpleText {
  font-size: 1vw;
  line-height: 1.4vw;
}

.simpleText2 {
  font-size: .9vw;
  line-height: 1.2vw;
}

.small {
  font-size: .75vw;
  line-height: 1vw;
}

/* Laptop */
@media (max-width: 1279px) {
  .title {
    font-size: 2.75rem;
    /* 44px */
    line-height: 1.15;
  }

  .subtitle {
    font-size: 1rem;
    /* 16px */
    line-height: 1.5;
  }

  .secondaryTitle {
    font-size: 1.1rem;
    line-height: 1.7;
  }

  .simpleText {
    font-size: .8rem;
    /* 16px */
    line-height: 1.25;
  }
}

/* Tablet */
@media (max-width: 1024px) {
  .title {
    font-size: 2.25rem;
    /* 36px */
    line-height: 1.2;
  }

  .subtitle {
    font-size: 0.95rem;
    /* 15px */
    line-height: 1.5;
  }

  .simpleText {
    font-size: .75rem;
    /* 16px */
    line-height: 1.25;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
    /* 32px */
    line-height: 1.2;
  }

  .subtitle {
    font-size: 0.9375rem;
    /* 15px */
    line-height: 1.6;
  }

  .simpleText {
    font-size: .7rem;
    /* 16px */
    line-height: 1.25;
  }
}

/* Petit mobile */
@media (max-width: 480px) {
  .title {
    font-size: 1.75rem;
    /* 28px */
    line-height: 1.25;
  }

  .subtitle {
    font-size: 0.875rem;
    /* 14px */
    line-height: 1.6;
  }

  .simpleText {
    font-size: .65rem;
    /* 16px */
    line-height: 1.25;
  }
}

.black-gradient {
  background: linear-gradient(180deg, rgba(10, 7, 0, 0.00) 0%, rgba(10, 7, 0, 0.36) 29.33%, rgba(10, 7, 0, 0.48) 58.65%);
}

.text-bold-white {
  font-weight: 600;
  color: #FFFFFF;
}


.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

.marquee-track img {
  flex-shrink: 0;
  width: auto;
  height: 25vh;
}

.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.text-simple {
  font-size: clamp();
}



.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}